{% extends 'user_center_base.html' %}
{% load staticfiles %}
{% block title %}个人中心-我的课程{% endblock %}
{% block custom_bread %}
    <section>
        <div class="wp">
            <ul class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'user:user_center' user.id %}">个人中心</a>>
                </li>
                <li>个人信息</li>
            </ul>
        </div>
    </section>
{% endblock %}
{% block right %}
    <div class="right">
        <div class="personal_des Releasecont">
            <div class="head">
                <h1>我的课程</h1>
            </div>
        </div>
        <div class="personal_des permessage">
            <div class="companycenter">
                <div class="group_list brief">
                    {% for course in course_list %}
                        <div class="module1_5 box">
                            <a href="{% url 'course:detail' course.course.id %}">
                                <img width="214" height="190"
                                     class="scrollLoading"
                                     src="{{ MEDIA_URL }}{{ course.course.image }}"/>
                            </a>
                            <div class="des">
                                <a href="course-detail.html">
                                    <h2>{{ course.name }}</h2></a>
                                <span class="fl">课时：<i
                                        class="key">{{ course.course.learn_time }}</i></span>
                                <span class="fr">学习人数：{{ course.course.student_num }}</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">{{ course.course.name }}</span>
                                <span class="star fr  notlogin"
                                      data-favid="15">{{ course.course.click_num }}</span>
                            </div>
                        </div>
                    {% endfor %}

                </div>
{#            <div class="pageturn">#}
{#        <ul>#}
{#            {% if course_list.has_previous %}#}
{#                <li class="long"><a#}
{#                        href="?{{ course_list.previous_page_number.querystring }}">上一页</a>#}
{#                </li>#}
{#            {% endif %}#}
{#            {% for page in course_list.pages %}#}
{#                {% if page %}#}
{#                    {% ifequal page course_list.number %}#}
{#                        <li class="active"><a#}
{#                                href="?{{ page.querystring }}">{{ page }}</a>#}
{#                        </li>#}
{#                    {% else %}#}
{#                        <li><a href="?{{ page.querystring }}"#}
{#                               class="page">{{ page }}</a></li>#}
{#                    {% endifequal %}#}
{#                {% else %}#}
{#                    <li class="none"><a href="">...</a></li>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#            {% if teachers.has_next %}#}
{#                <li class="long"><a#}
{#                        href="?{{ course_list.next_page_number.querystring }}">下一页</a>#}
{#                </li>#}
{#            {% endif %}#}
{#        </ul>#}
{#    </div>#}
            </div>
        </div>
    </div>

{% endblock %}


